html, body, .grid-container { 
    height: 100%; 
    margin: 0; 
    overflow: hidden;
}

.multichar-container {
    padding-top: 10vh;
    justify-content: center;
    text-align: center;
    width: 100%;
    display: flex;
}

.sendback {
    z-index: -1;
}

.character {
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.85);
    width: 20vw;
    margin: 1rem;
    height: 6vh;
    padding: .5rem;
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.40);
}

.character p{
    margin: 1rem;
    font-size: 30px;
    font-weight: 500;
}

.create-button {
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgba(32, 133, 211, 0.75);
    width: 100%;
    border: none;
    transition: 0.2s;
    height: auto;
    color: white;
}

.create-button:hover {
    cursor: grab;
}

.logo-container {
  margin: auto;
  text-align: center;
  padding-top: 10vh;
}

.body-wrapper {
    height: 100vh;
    background-image: url("./img/background.png");
    background-size: cover;
}

.selection-wrapper {
    color: white;
}

.branding-logo {
    height: 12vh;
    width: 12%;
}

.background-blur {
    background-color: rgba(0, 0, 0, 0.8);
}

.create-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.delete-container {
    width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-contents {
    height: 100%;
	width: auto;
	background-color: rgba(226, 226, 226, 0.6);
    color: rgb(0, 0, 0);
	text-align: center;
	padding: 1rem 4rem 4rem 4rem;
	position: relative;
	border-radius: 4px;
    /* overflow: hidden; */
}

input, select {
	margin: 15px auto;
	display: block;
	width: 80%;
	padding: 1rem;
	border: 1px solid gray;
}

.btn-cancel {
    background-color: rgba(218, 24, 24, 0.75);
    border: none;
    width: 100%;
    height: 20%;
    text-transform: uppercase;
    transition: 0.2s;
}

.btn-accept {
    background-color: rgba(89, 179, 29, 0.75);
    width: 100%;
    border: none;
    transition: 0.2s;
    height: 20%;
    text-transform: uppercase;
}

.cancel-button {
    background-color: rgba(218, 24, 24, 0.75);
    width: 100%;
    border: none;
    transition: 0.2s;
    height: 20%;
    text-transform: uppercase;
}

.accept-create {
    background-color: rgba(89, 179, 29, 0.75);
    width: 100%;
    border: none;
    transition: 0.2s;
    height: 20%;
    color: white;
    text-transform: uppercase;
}

.slot-name {
    justify-content: space-between;
    color: white;
    text-align: center;
    padding-right: 3vw;
    padding-left: 3vw;
}

.slot-name > button {
    margin: 0 1vw 0 1vw;
    width: 40%;
}

.play-button {
    box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:6px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 21px;
	text-decoration:none;
	text-shadow:0px 1px 3px #2f6627;
    margin-left: 20px;
    margin-top: 0.5rem;
}
.play-button:hover {
    background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}

.delete-button {
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 21px;
	text-decoration:none;
	text-shadow:0px 1px 3px #c23c32;
    margin-left: 20px;
}

.delete-button:hover {
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}

.slot-name > button {
    float: right;
}

.hidden {
    display: none;
}